@font-face {
    font-family: "logoFont";
    src: url(../fonts/TESLA.ttf);
}
@font-face {
    font-family: "mainFont";
    src: url(../fonts/GRAVITY.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mainFont;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}


body {
  background-color: #FFF;
}

.logo {
    font-family: logoFont;
    color: rgb(177, 0, 0);
    font-size: 3.5rem;
    text-transform: uppercase;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#wrapper {
    margin: 0px auto;
}

.navigation {
    background-color: #FFF;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 5px 5px -4px rgb(177, 0, 0);
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation ul li a {
    font-size: 1.2rem;
    padding: 10px 5px;
}


#dropdown {
  /* display: flex;
  justify-content: space-around;
  flex-direction: column; => redundant? */
  margin-top: 10px;
  padding: 10px;
  display: none; /* Redundant? */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

#dropdown li {
  padding-bottom: 8px;
}

#dropdown li a {
  font-size: 0.9rem;
  padding: 3px 3px;
}

.link {
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: rgb(177, 0, 0);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link:hover:after{
    width: 100%;
    left: 0;
    background: rgb(177, 0, 0);
}

.active:after {
  width: 100%;
  left: 0;
  background: rgb(177, 0, 0);
}

#main {
    width: 80%;
    margin: 0px auto;
}

#toTop {
  padding: 30px;
  background-color: rgb(177, 0, 0);
  position: fixed;
  right: 70px;
  bottom: 120px;
  border-radius: 100%;
  opacity: 0.95;
  display: none;
  z-index: 1;
}

/*SLICK PLUGIN START*/
.slick-next, .slick-prev {
    z-index: 1;
}

.slick-next:before, .slick-prev:before {
    font-size: 50px;
}

.slick-next {
    right: 45px;
}

.slick-prev {
    left: 20px;
}
/*SLICK PLUGIN END*/

.titleDivider {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.textSection {
    margin: 50px auto;
}

.underline {
    position: relative;
    
}

.underline:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 10px;
    left: 0;
    background: rgb(177, 0, 0);
}

.paragraph {
    margin-top: 10px;
    font-size: 1.1rem;
}

.flexWrap {
    display: flex;
    justify-items: center;
}

#showMore, #hide {
    display: inline-block;
    min-width: 20px;
    margin: 25px auto;
    cursor: pointer;
    font-size: 1.2rem;
}

#hiddenPara, #hide, #dropdown {
    display: none;
}

#modelsLoad {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.modelInfo {
    margin: 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    border-radius: 20%;
}

.information {
    display: flex;
    
}

.modelIMG {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 5px 5px -4px rgb(177, 0, 0);
}

.buttonInfo {
    border: none;
    width: 100%;
    background: rgb(177, 0, 0);
    color: #ffffff;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    text-align: center;
}

.buttonInfo:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 5px 40px -10px rgba(177, 0, 0, 0.5);
}

#modelDetails {
    margin-top: 50px 0;
}

.singleModel {
    display: flex;
    justify-content: space-evenly;
    
}

.detailsParagraph {
    font-size: 1.1rem;
    width: 50%;
}

/* CONTACT SECTION */

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

label {
  display: block;
  margin: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.contactContainer {
  width: 100%;  
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;  
}

.contactWrap {
  width: 790px;
  background: #fff;
  border-radius: 2px;
  padding: 55px 95px 68px 95px;
}


/* Form */

.contactForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactForm-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 45px;
}



/* Input */

.inputWrap {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 34px
}

.inputLabel {
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 11px;
}

.formInput {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px;
}

input.formInput {
  height: 55px;
}

textarea.formInput {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.focus-formInput {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid;
  border-color: rgb(177, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}

.formInput:focus + .focus-formInput {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}



/* Button */
.contactContainer-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -4px;
}

.contactForm-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  border-radius: 27px;
  background: rgb(177, 0, 0);
  position: relative;
  z-index: 1;
  transition: all 0.4s;
}

.contactForm-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 27px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333333;
  opacity: 1;
  transition: all 0.4s;
}

.contactForm-btn:hover:before {
  opacity: 0;
}

.formError {
  color: rgb(177, 0, 0);
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  box-shadow: 0px 5px 5px 4px rgb(177, 0, 0);
}

.footerBlock {
  width: 33%;
  height: inherit;
  border-right: 1px solid rgba(177, 0, 0, 0.68);
}

.footerBlock:last-child {
  border-right: none;
}
.footerBlock ul {
  height: inherit;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.footerBlock ul li {
  margin-top: 10px;
}

/* Responsive */

@media screen and (max-width: 1240px) {
  .singleModel {
    flex-direction: column!important;
  }
  .detailsParagraph {
    width: 100%;
    padding: 15px;
  }

  .modelIMG {
    max-width: 50%;
    margin: auto;
  }  

  #footer {
    font-size: 12px;
  }

  #footer .logo {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #footer {
    font-size: 16px;
    flex-direction: column;
    align-items: center;
  }

  .footerBlock {
    border-right: none;
    border-bottom: 1px solid rgb(177, 0, 0);

    padding-bottom: 5px;
  }

  .footerBlock:last-of-type {
    border: none;
  }
}

@media screen and (max-width: 900px) {

  .titleDivider {
    font-size: 20px;
  }
  
  #hero {
    display: none;
  }

  .active:after {
    width: 0;
  }
  .modelInfo {
    width: 45%;
  }

  #toTop {
    display: none!important;
  }
}

@media (max-width: 768px) {
    .contactWrap {
      padding: 55px 45px 68px 45px;
    }
}

@media screen and (max-width: 750px){
  .detailsParagraph {
     font-size: 14px;
  }
  
  .modelIMG {
    max-width: 100%;
  }

  .modelInfo {
    width: 95%;
  }
}
  
  @media (max-width: 576px) {
    .contactWrap {
      padding: 55px 15px 68px 15px;
    } 

    .navigation ul li a {
      font-size: 14px;
    }

    #footer {
      font-size: 12px;
    }
  }
  