@font-face {
    font-family: "logoFont";
    src: url(../fonts/TESLA.ttf);
}
@font-face {
    font-family: "mainFont";
    src: url(../fonts/GRAVITY.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mainFont;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-family: logoFont;
    color: rgb(177, 0, 0);
    font-size: 3.5rem;
    text-transform: uppercase;
}

body {
    background-color: #FFF;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#wrapper {
    margin: 0px auto;
}

.navigation {
    background-color: #FFF;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 5px 5px -4px rgb(177, 0, 0);
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation ul li a {
    font-size: 1.2rem;
    padding: 10px 5px;
}


#dropdown {
  /* display: flex;
  justify-content: space-around;
  flex-direction: column; => redundant? */
  margin-top: 10px;
  padding: 10px;
  display: none; /* Redundant? */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

#dropdown li {
  padding-bottom: 8px;
}

#dropdown li a {
  font-size: 0.9rem;
  padding: 3px 3px;
}

.link {
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: rgb(177, 0, 0);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link:hover:after{
    width: 100%;
    left: 0;
    background: rgb(177, 0, 0);
}

#main {
    width: 80%;
    margin: 0px auto;
}

/*SLICK PLUGIN START*/
.slick-next, .slick-prev {
    z-index: 1;
}

.slick-next:before, .slick-prev:before {
    font-size: 50px;
}

.slick-next {
    right: 45px;
}

.slick-prev {
    left: 20px;
}
/*SLICK PLUGIN END*/

.titleDivider {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.textSection {
    margin: 50px auto;
}

.underline {
    position: relative;
    
}

.underline:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 10px;
    left: 0;
    background: rgb(177, 0, 0);
}

.paragraph {
    margin-top: 10px;
    font-size: 1.1rem;
}

.flexWrap {
    display: flex;
    justify-items: center;
}

#showMore, #hide {
    display: inline-block;
    min-width: 20px;
    margin: 25px auto;
    cursor: pointer;
    font-size: 1.2rem;
}

#hiddenPara, #hide, #dropdown {
    display: none;
}

#models {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}

.modelInfo {
    margin: 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    border-radius: 20%;
}

.information {
    display: flex;
    
}

.modelIMG {
    border-radius: 10%;
    box-shadow: 0px 5px 5px -4px rgb(177, 0, 0);
}

.buttonInfo {
    border: none;
    width: 100%;
    background: rgb(177, 0, 0);
    color: #ffffff;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    text-align: center;
}

.buttonInfo:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 5px 40px -10px rgba(177, 0, 0, 0.5);
}

#modelDetails {
    margin-top: 50px 0;
}

.singleModel {
    display: flex;
    justify-content: space-evenly;
    
}

.detailsParagraph {
    font-size: 1.1rem;
    width: 50%;
}